<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
  <link rel="stylesheet" href="/public/d2l.css" />
  <link rel="stylesheet" href="/public/resource.css" />
  <style>
    body{
      padding:1em;
      text-align:center;
    }
  </style>
</head>
<body>
    <h1><%= title %></h1>
    <p>Sorry, we could not find the page you were looking for.</p>
  <p>Désolé, cette page est introuvable</p>
</body>
</html>