<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/public/favicon-mobile.ico">
    <title><%= title %></title>
  <link rel="stylesheet" href="/public/d2l.css" />
  <link rel="stylesheet" href="/public/resource.css" />
  <style>
    body{
      padding:1em;
      text-align:center;
    }
  </style>
</head>
<body>
    <h1><%= title %></h1>
    <p>Sorry, we could not find the page you were looking for.</p>
  <p><a href="/">Back to home page</a></p>
  <p>Désolé, cette page est introuvable</p>
  <p><a href="/">Retour à la page d'accueil</a></p>
</body>
</html>