<!DOCTYPE html>
<!-- Not in use for the moment. The purpose is to display module descriptions -->
<html>
<head>
  <link rel="stylesheet" href="/public/d2l.css" >
  <link rel="stylesheet" href="/public/resource.css" >
  <title><%= module.moduleTitle %></title>
</head>
<body>
  <h1><%= module.moduleTitle %></h1>
  
  <% if (module.description) { %>
  <div class="description">
    <%- module.description %>
  </div>
  <% } %>
</body>
</html>
