<!DOCTYPE html>
<html>
<head>
    <style>
body {
  background-color: #F0F0F0;  /* a light, airy background color */
  justify-content: center;  /* centering the container on the page */
  font-family:sans-serif;
  align-items: center;
  min-height: 80vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;  /* create space between tiles */
}

.tile {
  display:flex;
  width: 20em;
  height: 20em;
  align-items:center;
  background-color: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);  /* box-shadow to delimit the tiles */
  border-radius: 5px;  /* modern-looking rounded corners */
}
      .tile a{
        text-align:center;
        width:100%;
        display:block;
        text-decoration:none;
            padding: 50% 0;
      }
      .adminConsole{
        position:absolute;
        bottom:0;
        right:0;
      }
      .adminConsole a{
        text-decoration:none;
      }
      h1{padding:1em;}

    </style>
    <title>Open Content Viewer</title>
</head>
<body>
    <h1>Open Content Viewer</h1>
  <div class="container">
    

    <% for(let i=0; i<packageFiles.length; i++) { %>
     <div class="tile">
        <a href="/load/<%= packageFiles[i] %>">
            <%= packageFiles[i].replace(/\.[^/.]+$/, "") %>
        </a>
    </div>
    <% } %>
      <div class="adminConsole"><a href="/adminconsole">&#120645;</a></div>
       </div>
</body>
</html>
