<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/public/d2l.css" />
  <link rel="stylesheet" href="/public/resource.css" />
  </head>
<body>
    <p>Internal navigation link. <a href="<%= currentpage %>">Back</a></p>
</body>
</html>