:root{
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  min-height: 80vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.fip {
  padding: 10px;
  margin-bottom: -1rem;
}

.alert {
  width: 100%; 
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
}

.alert-warning {
  color: #505050; /* Dark grey color for text */
  background-color: #fcf8e3; /* Light yellow background for contrast */
  text-align: center; /* Centered text */
  font-weight: bold; /* Bold text for emphasis */
}

.tile {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2em;
}

.tile a {
  text-align: center;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #555555;
  padding: 1em;
  font-size: 1.2em;
}

.adminConsole {
  font-size: 18px;
  position: fixed;
  bottom: 1em;
  right: 1em;
  color: #ffffff;
}

.adminConsole a {
  text-decoration: none;
  color: #ffffff;
  transition: all 1s;
}

.adminConsole a:hover {
  text-shadow: 0 0 3px #555555;
}

h1 {
  padding: 1em;
  background-color: #3f2a56;
  color: #ffffff;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#loadingText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 30px));
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

#search {
  display:block;
  padding: 1em;
  width: 90%;
  border-radius: 5px;
  margin: 1em auto;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 0px transparent;
}

#langSwitch {
  padding: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
}

/* Larger screens */
@media screen and (min-width: 768px) {
  .tile {
    width: 20em;
    height: 20em;
  }

  .tile a {
    padding: 33% 1em;
    font-size: 28px;
  }

  #spinner {
    width: 120px;
    height: 120px;
  }

  #loadingText {
    transform: translate(-50%, calc(-50% - 60px));
    font-size: 40px;
  }

  #search {
    width: 75%;
  }
}
@media (max-height: 500px) {
    #loadingText {
      top: 50%;
  left: 50%;
    transform: translate(-50%, -60%);
    font-size: 20px;
  }
}
