body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: #333333;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

#header-left,
#header-right {
  display: flex;
  align-items: center;
}

.topic-name {
    flex: 1; 
    min-width: 0; /* This allows .topic-name to shrink below its content's intrinsic width. It's needed to handle long unbreakable strings */
}

.topic-name p {
    text-align: center;
    line-height: 1em;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin:.5em;
}

.topic-name p:first-of-type {
 font-weight:700;
}

.openbtn {
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  color: #000000;
  padding: 10px 15px;
  border: none;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: var(--d2l-color-celestine);
  display: block;
  transition: 0.3s;
  border-radius:6px;
}
.sidebar a:hover{
  color: var(--d2l-color-celestine-minus-1);
  background: var(--d2l-color-gypsum);
}

.sidebar a.closebtn {
    font-size: 36px;
    text-align: end;
}

.sidebar .endcourse{
  margin:3em 0;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-buttons a,
.nav-buttons button {
  padding: 10px 20px;
  background-color: #3f2a56;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.nav-buttons a svg,.nav-buttons button svg{
  align-items: center;
    color: var(--d2l-color-tungsten);
    display: inline-flex;
    fill: var(--d2l-icon-fill-color, currentcolor);
    height: var(--d2l-icon-height, 18px);
    justify-content: center;
    stroke: var(--d2l-icon-stroke-color, none);
    vertical-align: middle;
    width: var(--d2l-icon-width, 18px);
    height: var(--d2l-icon-height, 30px);
    width: var(--d2l-icon-width, 30px);
}

.nav-buttons button:disabled {
  background-color: transparent;
  border:none;
}

.nav-buttons a:has(svg),.nav-buttons button:has(svg){
  background-color:transparent;
}

.nav-buttons button:disabled svg {
  color: var(--d2l-color-mica);
  fill: var(--d2l-color-mica);
}

.sidebar {
  width: 0;
  transition: width 0.5s;
    height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.3s;
}
.sidebar .sideContainer{
  margin-left:1em;
  padding:1em;
}

.sidebar.open {
  width: 450px;
}

#main.open{
  margin-left:450px;
}

@media (max-width: 768px) {
  .sidebar.open {
    width: 100%;
  }
  #main.open{
  margin-left:0;
}
}

/* Common CSS for iframe */

iframe {
  display: block;
  margin: auto;
  height: calc(
      100vh - 150px
    ); /* Adjust as necessary, 120px accounts for the topbar and bottom navbar */
  width: 100%;
  border: none;
  box-shadow: 0 0 10px #cccccc;
}

/* Media Query for devices with width less than or equal to 768px */
@media (max-width: 767px) {
  iframe {
    width: 100%;
    height: calc(
      100vh - 150px
    ); 
  }
}

/* Media Query for devices with width greater than 768px */
@media (min-width: 768px) {
  iframe {
    width: 100%; /* Adjust as necessary, 250px is the width of the sidebar */
    height: calc(
      100vh - 150px
    ); /* Adjust as necessary, 60px accounts for the topbar */
  }
}
@media (min-width: 900px) {
iframe {
    width: 860px; /* Adjust as necessary, 250px is the width of the sidebar */
    height: calc(
      100vh - 150px
    ); /* Adjust as necessary, 60px accounts for the topbar */
  }
  
}

/* Media Query for devices with width less than or equal to 768px */
@media (max-width: 768px) {
  .hidden-small {
    display: none;
  }

  /* .nav-buttons a::before,
  .nav-buttons button::before {
    content: "";
  }

  .nav-buttons a,
  .nav-buttons button {
    font-size: 0;
  } */

  /* .nav-buttons a[data-direction="prev"]::before,.nav-buttons button[data-direction="prev"]::before {
    content: "<";
    font-size: 1rem;
  }

  .nav-buttons a[data-direction="next"]::before, .nav-buttons button[data-direction="next"]::before{
    content: ">";
    font-size: 1rem;
  } */
}
